doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel="shortcut icon", href="img/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body(ng-app="app")
    block content
    script(type="text/javascript", src="js/app.min.js")