div(style="text-align: center;") 
  h1(ng-hide="data") Loading...
  h1(ng-show="data") Most shared content from today
.row(ng-repeat="item in data")
  .col-md-2 
    ul.pull-right.list-unstyled
      li
        strong +{{ item.value }}
  .col-md-10
    blockquote
      a(href="{{ item.key[item.key.length-1] }}", target="_blank") {{ item.key[item.key.length-1] }}